spring:
  application:
    name: movieflix

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    user: ${DB_USER}
    password: ${DB_PASSWORD}
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}

server:
  port: ${SERVER_PORT:8080}

movieflix:
  security:
    secret: "308921u8rjfh29034hr9438r284r921hr94238r1290hfr8901038ur894hr89h498r48975gf9whg9840919r4rffhjoqepof439"
